<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#CSSM(["ext", "style"])
		<STYLE TYPE="text/css">
			BODY {
			background-repeat: no-repeat;
			background-attachment: fixed;}
		</STYLE>
	</head>
	<body background="$!{env.imgUrl}/image/login/initCon.jpg" >
		<form method="post">
			<div id="updatePwd" icon="icon-save" style="padding:5px;width:400px;height:200px;">
				<p>
    				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;原密码<font color='red'>*</font>:</td>
            		<td>
            			<input type="password" id="O_Pwd" name="oldPassword" />
    				</td>
    			</p>
    			<p>
    				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;新密码<font color='red'>*</font>:</td>
            		<td>
            			<input type="password" id="J_Pwd" name="password" />
                        <font color='green'>请输入6位及以上的密码</font>
    				</td>
    			</p>
    			<p>
    				<td class="head" noWrap>确认密码<font color='red'>*</font>:</td>
            		<td>
            			<input type="password" id="J_RePwd" />
                        <font color='green'>请确认两次输入的密码相同</font>
    				</td>
    			</p>
    		 </div>
			 <input type='hidden' name='checkCode' value="$!{checkCode}" />
		 </form>
		 <iframe id="hideFrame" name="hideFrame" src="$!{env.imgUrl}/image/space.gif" style="height: 0; width: 0"></iframe>
		 #JSM(["common", "ext", "jquery"])
		 #JS_ENV_VAL()
		 <script type="text/javascript" src="$!{env.imgUrl}/js/xplatform/login/resetPassword.js?t=1"></script>
	</body>
</html>