<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="fileAction" class="com.kintiger.xplatform.file.action.FileAction"
		scope="request" parent="baseAction">
		<property name="fileService" ref="fileService" />
		<property name="dfsService" ref="hdfsService" />
	</bean>
	
	<bean id="fileService"
		class="com.kintiger.xplatform.file.service.impl.FileServiceImpl">
		<!--<property name="memcachedCacheService" ref="memcachedCacheService" />-->
		<property name="fileDao" ref="fileDao" />
	</bean>
	
	<bean id="fileDao" class="com.kintiger.xplatform.file.dao.impl.FileDaoImpl" parent="baseDao">
	</bean>
	
</beans>