<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="authenticationInterceptor"
		class="com.kintiger.xplatform.framework.webwork.interceptor.AuthenticationInterceptor">
		<property name="caService" ref="caService" />
	</bean>

	<bean id="actionLogInterceptor"
		class="com.kintiger.xplatform.framework.webwork.interceptor.ActionLogInterceptor">
		<!--<property name="memcachedCacheService" ref="memcachedCacheService" />-->
	</bean>
	
</beans>