<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>组织人员架构树</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
     <Frameset cols="45%,55%">
		 <frame name="main" src="$!{env.appUrl}/role/roleAction!getOrgPeopleTree.htm?roleId=$!{roleId}" />
		 <frame src="$!{env.appUrl}/role/roleAction!getPeopleSelector.htm" name="right" id="right" title="right" />
	 </Frameset>
</html>
