
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>组织列表</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#CSSM(["ext", "style"])
	</head>
		<body>	
			<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="8" >
					
				<tr>
					<td valign="top">
						<table bgColor=#ffffff width="100%" border="0" cellspacing="0"
							cellpadding="0">
							<tr>
						 	   <td colspan="2"  class="home_title"  noWrap >
                                                                                                           人员调动
			                     </td>
								 <td  noWrap align="right">
									<A  class=icon_but  href="#" onclick="save();"><IMG height=16
											src="$!{env.imgUrl}/image/actions/icon_save.png" width="16" id="name"
											align=absMiddle border=0>保存</A>
								</td>
                            </tr>
                        </table>
							<div id="tree-div" style="overflow: auto; height: 100%; width: 100%; border: 0px;"></div>
                    </td>
                </tr>
            </table>
		
		<form method="post">
				<input type="hidden" id="userId" name="userId" value="$!{userId}"></input>
			<input type="hidden" id="orgId" name="orgId"></input>
			<input type="hidden" id="orgName" name="orgName"></input>
		</form>
		<input type="hidden" id="actionName" value="$!{actionName}"></input>
		  <iframe id="hideFrame" name="hideFrame"	src="$!{env.imgUrl}/image/space.gif" style="height: 0; width: 0"></iframe>

	</body>

	#JSM(['ext','jquery'])

	#JS_ENV_VAL()

	<script type="text/javascript">
	Ext.onReady(function(){
	    var Tree = Ext.tree;
	
	    var tree = new Tree.TreePanel({
	        useArrows: true,
	        autoScroll: true,
	        animate: true,
	        enableDD: true,
	        containerScroll: true,
	        border: false,
	        dataUrl: '$!{env.appUrl}/org/orgTreeAjaxAction!getOrgTreeListByAjax.htm',
	        root: {
	            nodeType: 'async',
	            text: 'XXX有限公司',
	            draggable: false,
	            id: '$!node' == '-1' ? '-1' :'1'
	        }
	    });
	
	    tree.render('tree-div');
	    tree.getRootNode().expand();
	    
	    tree.on('click', function(node){
	    	document.getElementById("orgId").value = node.id;
	    	document.getElementById("orgName").value = node.text;
	    	
	    	}
		);
		$('#hideFrame').bind('load', promgtMsg);
		
	});
	
function  save(){
	
		if (document.getElementById("orgId").value == "" ||document.getElementById("orgName").value =="") {
			Ext.Msg.show( {
							title : '提示',
							msg : '请选择组织',
							buttons : Ext.Msg.OK,
							icon : Ext.Msg.INFO
						});
		} else {
	
			  var form = window.document.forms[0];
	          form.action = appUrl + "/alluser/allUserAction!userChangeOrg.htm";
	          form.target = "hideFrame";
	          form.submit();
		}
	}
	
	
function promgtMsg() {
	var hideFrame = document.getElementById("hideFrame");
	var failResult = hideFrame.contentWindow.failResult;
	var successResult = hideFrame.contentWindow.successResult;
	// loadM.hide();
	if (failResult != "") {

		Ext.Msg.show( {
			title : '错误',
			msg : failResult,
			buttons : Ext.Msg.OK,
			fn : function(btn) {
				if (btn == 'ok') {
					
				}
			},
			icon : Ext.Msg.ERROR
		});
	} else {
		Ext.Msg.show( {
			title : '信息',
			msg : successResult,
			buttons : Ext.Msg.OK,
			fn : function(btn) {
				if (btn == 'ok') {
					window.parent.close();
				}
			},
			icon : Ext.Msg.INFO
		});
	}
}
	
	
	</script>
</html>
