<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>剑齿虎</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="$!{env.imgUrl}/css/base.css" type="text/css" rel="stylesheet" />
		<link href="$!{env.imgUrl}/css/public.css" type="text/css" rel="stylesheet" />
		<link href="$!{env.imgUrl}/css/layout.css" type="text/css" rel="stylesheet" />
		<link href="$!{env.imgUrl}/css/nofound.css" type="text/css" rel="stylesheet" />
	</head>

<body>
<!-- header begin -->
<!-- header end --> 
<!-- slider begin --> 
<!-- slider end -->

	<div class="no-found">
		<h3>抱歉您没有操作该页面的权限......</h3>
		<h4>We're sorry but the page your are looking for is Not Unauthorized...</h4>
		<p class="no-found-text">您没有操作该页面权限，最有可能的原因是：<p>
		<ul class="no-found-list">
			<li>您所在岗位没有操作该页面权限。</li>
		</ul>
		<p class="no-found-text">点击一下链接继续浏览kingiter<p>
		<ul class="no-found-list">
			<li><a href="#">返回kingiter首页</a></li>
			<li><a href="#">返回上一个页面</a></li>
		</ul>
	</div>

<!-- footer beigin -->
<!-- footer end --> 
</body>
</html>
