<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#CSSM(["ext", "style"])
	</head>
	<body>
		<form method="post" >
			<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="8">
				<tr>
					<td valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" >
							<tr>
								<td class="form_top_icon_01" >
									用户信息
								</td>
								<td class="title_bottom_line" noWrap align='right'>
									<a href="javascript:window.close();">
                                        <img src="$!{env.imgUrl}/image/actions/icon_close.gif" align="absMiddle" >关闭 </img>
									</a>
									<br>
								</td>
							</tr>
							<tr>
								<td colspan="1" class="home_title">
								</td>
							</tr>
							<tr>
								<td colspan="2" class="home_title_line">
									<table width="100%" border="0" cellpadding="0" cellspacing="1" class=outer>
										<tr>
    										<td class="head" noWrap style="text-align: right" width="110">
    											用户帐号
    										</td>
											<td class="even" noWrap>
												$!{user.passport}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											用户姓名
    										</td>
											<td class="even" noWrap>
												$!{user.userName}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											办公电话
    										</td>
											<td class="even" noWrap>
												$!{user.phone}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											办公传真
    										</td>
											<td class="even" noWrap>
												$!{user.workFax}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											手机
    										</td>
											<td class="even" noWrap>
												$!{user.mobile}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											通信地址
    										</td>
											<td class="even" noWrap>
												$!{user.address}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											邮箱地址
    										</td>
											<td class="even" noWrap>
												$!{user.email}
											</td>
                                    	</tr>
										
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											性别
    										</td>
											<td class="even" noWrap>
												#if($!{user.sex} == 'M')
													男
												#else
													女
												#end
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											职位
    										</td>
											<td class="even" noWrap>
												$!{user.posName}
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											是否开通邮箱
    										</td>
											<td class="even" noWrap>
												#if($!{user.haveMail} == '1')
													是
												#else
													否
												#end
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											组织
    										</td>
											<td class="even" noWrap>
												<textarea type='text' id="orgStr">$!{orgStr}</textarea>
											</td>
                                    	</tr>
										<tr>
    										<td class="head" noWrap style="text-align: right">
    											备注
    										</td>
											<td class="even" noWrap>
												$!{user.remark}
											</td>
                                    	</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<input type='hidden' name="id" value="$!{allUser.id}" />
		</form>
		<iframe id="hideFrame" name="hideFrame"	src="$!{env.imgUrl}/image/space.gif" style="height: 0; width: 0"></iframe>
		#JSM(["common", "ext", "jquery"])
		<script type="text/javascript" src="$!{env.imgUrl}/js/xplatform/user/searchUserInfo.js"></script>
	</body>
</html>