<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#CSSM(["ext", "style"])
        <style type="text/css">
        <!--
        .Microsoft {
        	font-family:微软雅黑;
        }
        .Arial {
        	font-family:宋体;
        	
        
        }
        
        div{
         float:none;
        }
        
        #NewsDetail{
         width:892px;overflow:hidden;
         padding-bottom:35px;
        }
        #NewsDetailUl,#NewsDetailTitle,#NewsDetailTime,#NewsDetailContent,.pagenext
        {
         width:862px;
        }
        #NewsDetailContent
        {
        	padding-bottom:35px;
        }
        ul.pagenext
        {
        margin:0px auto;
        text-align:center;
        line-height:23px;
        margin-top:10px;
        padding-top:15px;
        border-top:1px dashed #d2d2d2
        }
        ul.pagenext li
        {
        text-align:left;
        width:862px;
        color:#000000;
        display:block;
        }
        
        .STYLE1 {
        	color: #FF0000;
        	font-family: "宋体";
        	font-size: 12px;
        }
        -->
        </style>
        
	</head>
<body>
<div id="TopBg">
  <!--top-->
 
  <ul id="MenuAll">
   
  </ul>
</div>
<div class="MainAll Normal">
  <!--main-->
  <div class="MainAll">
  <div id="NewsDetail" class="Arial">
	<ul id="NewsDetailUl">
		<li id="NewsDetailTitle">$!{newsDetail.detailTitle}</li>
		<li id="NewsDetailTime">
		<span class="STYLE1">发布者：</span>$!{newsDetail.detailOperator}　　
		<span class="STYLE1">发布日期：</span>$!date.format('yyyy-MM-dd HH:mm',$!{newsDetail.detailDate}) 
		<span class="STYLE1">预览数：</span>$!{newsDetail.clicksRatio}

		</li>
        <li id="NewsDetailContent">$!{newsDetail.detailContent}</li>
    </ul>
</div>

  </div>
</div>
</body>

</html>
