<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#CSSM(["ext", "style"])
	</head>
<body>
	<form action="" method="post" id="mForm">
		<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="8">
			<tr>
				<td valign="top">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" >
						<tr>
							<td class="form_top_icon_01">栏目管理</td>
							<td class="title_bottom_line" noWrap align='right'>
								<a href="javascript:createNewsTot();">
                                    <img src="$!{env.imgUrl}/image/actions/icon_add.gif" align="absMiddle" >创建</img>
								</a>
								<br>
							</td>
						</tr>
						<tr>
							<td colspan="1" class="home_title">查询条件</td>
						</tr>
						<tr>
							<td colspan="2" class="home_title_line">
								<table width="100%" border="0" cellpadding="0" cellspacing="1" class=outer>
									<tr>
                                        <td class="head" noWrap>栏目名称:</td>
										<td class='even' noWrap>
											<input type="text" id="totalName"/>
											<input type="button" style="cursor: pointer" onclick="javascript:serachNews();" value="查询"></input>
										</td>                              
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="home_title">栏目列表信息</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		 <div class="cent_border">
			<div id="gridList" class="ext-grid-mask"></div>
		</div>
	</form>
	<iframe id="hideFrame" name="hideFrame"	src="$!{env.imgUrl}/image/space.gif" style="height: 0; width: 0"></iframe>
	#JSM(["common", "ext", "jquery"])
    #JS_ENV_VAL()
    <script type="text/javascript" src="$!{env.imgUrl}/js/xplatform/news/searchNewsTotal.js"></script>
</body>
</html>