<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>mobilePlatform</display-name>
	<distributable />

	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:bean/spring*.xml
			classpath:cxf/cxf*.xml
			<!-- classpath:hessian/hessian*.xml -->
			<!-- classpath:dubbo/dubbo*.xml -->
		</param-value>
	</context-param>

	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!-- <filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.kintiger.xplatform.framework.web.filter.SessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping> -->
	
	<filter>
		<filter-name>webwork</filter-name>
		<filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>webwork</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!--
		<filter>
			<filter-name>GZipHeaderFilter</filter-name>
			<filter-class>com.kintiger.xplatform.framework.web.filter.GZipHeaderFilter</filter-class>
			<init-param>
				<param-name>headers</param-name>
				<param-value>Content-Encoding=gzip</param-value>
			</init-param>
		</filter>

		<filter-mapping>
			<filter-name>GZipHeaderFilter</filter-name>
			<url-pattern>*.gzjs</url-pattern>
			<url-pattern>*.gzcss</url-pattern>
		</filter-mapping>
-->	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>remote</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:hessian/hessian-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>remote</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/router/*</url-pattern>
	</servlet-mapping>

	<!--
		<servlet>
			<servlet-name>dwr-invoker</servlet-name>
			<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
			<init-param>
				<param-name>config</param-name>
				<param-value>/WEB-INF/classes/dwr.xml</param-value>
			</init-param>
			<init-param>
				<param-name>debug</param-name>
				<param-value>false</param-value>
			</init-param>
			<init-param>
				<param-name>scriptCompressed</param-name>
				<param-value>false</param-value>
			</init-param>
			<init-param>
				<param-name>crossDomainSessionSecurity</param-name>
				<param-value>false</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
		</servlet>

		<servlet-mapping>
			<servlet-name>dwr-invoker</servlet-name>
			<url-pattern>/dwr/*</url-pattern>
		</servlet-mapping>
-->

	<error-page>
		<error-code>404</error-code>
		<location>/error/errorAction!notFound.htm</location>
	</error-page>
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

</web-app>